.sin-padding{
    padding-left: 0;
    padding-right: 0;
}
.animacion-hover:hover{
    transform: scale(1.5);
}
.over{
    overflow: hidden;
}

/*header (----------------------------------------------------------------------------------)*/
header{
    background-color: #000000; 
    position: absolute;
    padding-top: 15px;
    padding-bottom: 15px;
}
header img{
    width: 160px;
}
/*fin del header (----------------------------------------------------------------------------------)*/


/*slider (----------------------------------------------------------------------------------)*/
#slider{
    overflow: hidden;
}
#slider ul{
    display: flex;
    animation: transicion 10s infinite alternate;
    padding: 0;
    width: 500%;
    margin-bottom: 0;
}
#slider li{
    width: 100%;
    list-style: none;
}
#slider img{
    width: 100%;
}
@keyframes transicion{
    0%{margin-left: 0;}
    15%{margin-left: -0;}

    20%{margin-left: -100;}
    35%{margin-left: -100;}

    40%{margin-left: -200%;}
    55%{margin-left: -200%;}

    60%{margin-left: -300%;}
    75%{margin-left: -300%;}

    80%{margin-left: -400%;}
    100%{margin-left: -400%;}
}
/*fin del slider (----------------------------------------------------------------------------------)*/

/*inicio del banner 2 (----------------------------------------------------------------------------------)*/
#banner2 img{
   width: 100%;
   transition: transform .;
}

/*fin de banner 2 (----------------------------------------------------------------------------------)*/

/*inicio del banner2-1*/

#banner2-1 img{
    width: 100%;
    transition: transform .7s;  
}
.btn-bloque{
    position: relative;
}
.btn-bloque a{
    width: 100%;
    height: 100%;
    display: block;
}
.btn-bloque h2{
    position:absolute;
    top:180px;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    font-size: 2.8rem;
    line-height: 2.8rem;
    font-weight: 800;
}
}

/*fin del banner2-1 (----------------------------------------------------------------------------------)*/

#banner3{
    overflow: hidden;
}

#banner3 img{
    width: 100%;
    transition: transform .9s;  
}


/* ACA EMPIEZA LAS IMG RADIUS */
#imgr a img { 
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 500px;
    margin-left: 100px;
    overflow: hidden;
    display: block;
    transition: transform .7s;  
}
.btn-bloque h3{
    position:absolute;
    top:160px;
    padding-left: 180px;
    padding-top: 120px;
    text-align: center;
    color: #fff;
    font-size: 2.8rem;
    line-height: 2.8rem;
    font-weight: 800;
}  
}

/* ACA TERMINA LAS IMG RADIUS*/



 /*ACA EMPIEZA LOS LINKS*/
#enlaces a{
    color: #000000;
    padding-left: 200px;
    font-size: 25px;
}

 /*ACA EMPIEZA LOS LINKS*/


/* ACA EMPIEZA LOS LOGOS*/
#logos div{
    padding-left: 370px;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* ACA TERMINA LOS LOGOS*/

#footer{
    background-color: black;
    color: white;  
    font-size: 17px;
    padding-bottom: 35px;
}
#footer div p{
    float: right;
    font-size: 18px;
}
#footer div a{
    text-decoration: none;
    color: #fff;
}
#lgco{
    width: 280px;
    margin-left: 490px;
    padding-top: 20px;
    padding-bottom: 20px;
}

