#title{
    background-color: #000000; 
    position: fixed
}
#title img{
    width: 240px;
    margin-left: 500px;
    padding-top: 20px;
   
}

#banner1{
    width: 100%;
    margin: auto;
    overflow: hidden;    
}
#banner1 ul{
    display: flex;
    animation: transicion 8s infinite alternate;
    padding: 0;
    width: 400%;
}
#banner1 li{
    width: 100%;
    list-style: none;
}
#banner1 img{
    width: 100%;
}

@keyframes transicion{
    0%{margin-left: 0;}
    15%{margin-left: 0;}

    20%{margin-left: -100;}
    35{margin-left: -100;}

    40%{margin-left: -200%;}
    55%{margin-left: -200%;}

    60%{margin-left: -300%;}
    75%{margin-left: -300%;}

    80%{margin-left: -400%;}
    100%{margin-left: -400%;}
}
#banner2 img{
   width: 100%;
   margin-left: 0px;
   margin-right: 0px;
   position: static; 
   overflow: hidden;
}
.img6:hover.img{
    -webkit-transform: scale(1:3);transform: scale(1:3)
}
#banner2-1 img{
    
}
#banner3 img{
   overflow: hidden;
   width: 100%;
    
}
a{
    text-decoration: none;
    color: white;
    margin-bottom: 80px;
}

#footer{
    background-color: black;
    color: white;  
    font-size: 17px;
    padding-bottom: 35px;
}
#footer div p{
    float: right;
    font-size: 18px;
}
#lgco{
    width: 280px;
    margin-left: 490px;
    padding-top: 20px;
    padding-bottom: 20px;
}

