#logocoke{
    background-color: black;
    background-size: 160px;
    background-position: center;
    text-align: center;
    background-image: url(imagenescocacola/CC_Peru_Lockup_Horizontal_White.png);
    background-repeat: no-repeat;
    padding-bottom: 70px;
    
}
#banner1{
    position: absolute;
    left: 800px;
    transition-property: left(hover);
    transition-duration: 2s;

}
#banner2{
   background-image: url(imagenescocacola/banner5.png);
   background-repeat: no-repeat;
   padding-bottom: 600px;
   font-size: 40px;     
}
#banner3{
    background-image: url(imagenescocacola/banner6.png);
    background-repeat: no-repeat;
    padding-bottom: 600px;
    font-size: 40px; 
    position: absolute;     
}
a{
    text-decoration: none;
    color: white;
}